<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="views/css/style.css">
</head>
<body>
<div class="container">
    <header>
        <div class="logo">МАГАЗИН СНАРЯЖЕНИЯ</div>
        <nav class="main-menu">
            <ul>
                <li><a href="#">ГЛАВНАЯ</a></li>
                <li><a href="#">КАТАЛОГ</a></li>
                <li><a href="#">ЗАКАЗ</a></li>
            </ul>
        </nav>
    </header>
    {{ content|raw }}
</div>
<footer></footer>
</body>
</html>