* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
    border: 0;
}

body {
    overflow-y: scroll;
}

.container {
    min-height: calc(100vh - 100px);
    background-image: url("../img/background.png");
}

.container header {
    background: url("../img/header-background.jpg");
}

.container header .logo {
    padding: 10px 0;
    font-size: 40px;
    text-align: center;
    color: gold;
}

.container header nav.main-menu {
    border-top: 2px solid #393838;
    border-bottom: 1px solid #393838;
}

.container header nav.main-menu ul {
    list-style: none;
    background: #5d0705;
}

.container header nav.main-menu ul > li {
    display: inline-block;
    padding: 10px;
}

.container header nav.main-menu ul > li > a {
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
}

.container header nav.main-menu ul > li > a:hover {
    color: #804000;
    font-weight: 600;
    background: #420504;
}

.container nav.cat-menu {
    width: 300px;
    margin-left: 10px;
    float: left;
}

.container .content {
    height: 720px;
    margin: 10px 10px 0 320px;
    border: 2px solid #393838;
    box-sizing: border-box;
    background: white;
}

.container nav.cat-menu ul {
    margin: 10px 0;
}

.container nav.cat-menu ul > li {
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #393838;
    background: #efefef;
    text-align: center;
}

.container nav.cat-menu ul > li a {
    display: block;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.container nav.cat-menu ul > li a:hover {
    color: #804000;
    border-radius: 5px;
    font-weight: 600;
    background: white;
}

.items-grid {
    display: flex;
    margin: 10px;
}

.item {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: #efefef;
}
.item h1 {
    padding: 5px 3px;
    font-size: 18px;
    text-align: center;
    color: #420504;
}
.item h2 {
    padding: 5px;
    font-size: 14px;
    text-align: right;
    color: #804000;
}

.item p {
    padding: 5px;
    text-align: justify;
}

footer {
    height: 100px;
    background: url("../img/header-background.jpg");
    clear: both;
}